<td>
  <img height="30" width="30" src="assets/images/scorecard.png" />
  &nbsp;{{ row.name }}
</td>
<td>{{ row.description }}</td>
<td></td>
<td>
  <mat-icon
    class="actions-icon-btn cursor"
    (click)="$event.stopPropagation()"
    matRipple
    matTooltip="Edit or Delete a scorecard"
    [matMenuTriggerFor]="actionsMenu"
    >more_vert</mat-icon
  >
  <mat-menu #actionsMenu="matMenu">
    <button mat-menu-item>
      <mat-icon class="text-warning">edit</mat-icon>Edit
    </button>
    <button mat-menu-item (click)="openDeleteDialog(row.name)">
      <mat-icon class="text-danger">delete</mat-icon>Delete
    </button>
  </mat-menu>
</td>
