<!-- <div class="row"> -->
    <div class="d-flex flex-row">
      <button  mat-stroked-button *ngIf="canBeShown('sharing')" (click)="openSharingDialog()"  style=" color: black;" ><i class="fa fa-share-alt"></i>&nbsp; Sharing</button>
      <button  mat-stroked-button tourAnchor="view.pe" *ngIf="canBeShown('period')" (click)="openPeriodDialog()"  style=" color: black;"  ><i class="fa fa-clock-o"></i>&nbsp; Period </button>
      <button  mat-stroked-button tourAnchor="view.ou" *ngIf="canBeShown('orgunit')" (click)="openOrgUnitDialog()"  style=" color: black;" ><i class="fa fa-building-o"></i>&nbsp; Org Unit </button>
    </div>
  <!-- </div> -->