# DHIS2 Platform
node_modules
.d2
apps/app/src/locales
*/locales/
build
apps/app/.env
logs
apps/app/cypress.env.json
*.log
.vscode
*cypress/videos
*cypress/screenshots
*cypress/downloads
apps/widget/src/locales
apps/widget/scorecard_widget.zip
/shared/components/src/locales/
/shared/constants/src/locales/
/shared/state/src/locales/
/shared/utils/src/locales/
/apps/app/cypress/downloads/
/packages/app/.env
