<div class="container-fluid">
  <div class="row">
    <div
      class="col-md-4 col-xs-12"
      style="padding-left: 50px; cursor: pointer;"
    >
      <img src="assets/images/score.png" />
    </div>
    <div class="col-md-4 col-xs-12">
      <h3 class="text-center" style="margin-top: 8px">
        <small>
          Create a new scorecard
        </small>
      </h3>
    </div>
    <div class="col-md-4 col-xs-12 operations-section" style="margin-top: 10px">
      <button
        mat-raised-button
        class="pull-right cursor"
        style="height: 35px; "
      >
        <i class="fa fa-floppy-o text-info"></i>&nbsp;
        <span>Save</span>
      </button>
      <button
        mat-raised-button
        class="pull-right cursor"
        style="height: 35px;"
      >
        <i class="fa fa-ban text-danger"></i>&nbsp;
        <span>Cancel</span>
      </button>
      <app-options class="pull-right"></app-options>
      <app-info-menu class="pull-right"></app-info-menu>
    </div>
  </div>
  <hr />
</div>
