<mat-card class="card-view cursor d-flex flex-column mb-3 mr-3 p-1" (click)="viewScorecard()">
  <mat-icon
    class="actions-icon-btn cursor"
    (click)="$event.stopPropagation()"
    matRipplerelative
    matTooltip="Edit or Delete a scorecard"
    [matMenuTriggerFor]="actionsMenu"
    >more_vert</mat-icon
  >
  <mat-menu #actionsMenu="matMenu">
    <button mat-menu-item>
      <mat-icon class="text-warning">edit</mat-icon>Edit
    </button>
    <button mat-menu-item (click)="openDeleteDialog(card.name)">
      <mat-icon class="text-danger">delete</mat-icon>Delete
    </button>
  </mat-menu>
  <div class="d-flex flex-row justify-content-center h-70">
    <img class="w-90 h-100" src="assets/images/scorecard.png" />
  </div>

  <mat-card-content class="text-center">
    <h4>{{ card.name }}</h4>
    <p>{{ card.description }}</p>
  </mat-card-content>
</mat-card>
