.card-view-list {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
}

.thumbnail-view-list {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.card-item-container {
  grid-column: span 3;
  margin: 5px 10px 5px 0;
}

@media (max-width: 1260px) {
  .card-view-list {
    grid-template-columns: repeat(12, 1fr);
  }
  .thumbnail-view-list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 950px) {
  .card-view-list {
    grid-template-columns: repeat(9, 1fr);
  }

  .thumbnail-view-list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 850px) {
  .card-view-list {
    grid-template-columns: repeat(6, 1fr);
  }
  .thumbnail-view-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 510px) {
  .card-view-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
