<div class="home-container">
  <!--header-->
  <app-home-header (searchFilter)="getSearchFilter($event)"> </app-home-header>
  <!-- end of header -->

  <!-- home content container -->
  <div class="home-content" *ngIf="scorecards$ | async as scorecards">
    <div class="home-content-header">
      <app-view-selector  tourAnchor="home.listview" (changeView)="onChangeView($event)"></app-view-selector>
      <mat-paginator [length]="scorecards.length" [pageSize]="config.itemsPerPage" [hidePageSize]="true"
        [pageSizeOptions]="config.itemsPerPageArr" (page)="pageChanged($event)">
      </mat-paginator>
    </div>

    <!-- scorecard view -->
    <div class="scorecard-view">
      <!-- card view -->
      <div @fadeSmooth *ngIf="currentViewType === viewTypes.CARD">
        <app-card-thumbnail-view [scorecards]="scorecards" [paginationConfig]="config" [searchTerm]="filter"
          [viewType]="currentViewType" [viewTypes]="viewTypes" (viewScorecard)="onView($event)">
        </app-card-thumbnail-view>
      </div>
      <!-- end of card view -->

      <!-- thumbnail  view -->
      <div @fadeSmooth *ngIf="currentViewType === viewTypes.THUMBNAIL">
        <app-card-thumbnail-view [scorecards]="scorecards" [paginationConfig]="config" [searchTerm]="filter"
          [viewType]="currentViewType" [viewTypes]="viewTypes" (viewScorecard)="onView($event)">
        </app-card-thumbnail-view>
      </div>
      <!-- end of thumbnail  view -->

      <!-- list view -->
      <table @fadeSmooth class="table table-hover" *ngIf="currentViewType === viewTypes.LIST">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Last modified</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr class="cursor" (click)="viewScorecard()" app-list-view *ngFor="let row of scorecards | filter: filter | paginate: config"
            [row]="row"></tr>
        </tbody>
      </table>
      <!-- end of list view -->
    </div>
    <!-- end of scorecard view -->

  </div>
  <!-- end of home content container -->

</div>

<div class="container-fluid mt-3">
  <!--<div
    class="flex-container"
    [ngStyle]="{ 'justify-content': type === 'card' ? 'center' : 'start' }"
    *ngIf="type !== 'list'"
  >
    <mat-card
      class="cursor"
      @fadeSmooth
      (click)="viewScorecard($event)"
      [ngClass]="[
        type === 'thumbnails' ? 'col-md-5 thumbnail-layout' : '',
        type === 'card' ? 'card-layout col-md-3' : ''
      ]"
      *ngFor="let card of scorecards | filter: filter | paginate: config"
    >
      <mat-icon
        class="actions-icon-btn cursor"
        (click)="$event.stopPropagation()"
        matRipple
        matTooltip="Edit or Delete a scorecard"
        [matMenuTriggerFor]="actionsMenu"
        >more_vert</mat-icon
      >
      <mat-menu #actionsMenu="matMenu">
        <button mat-menu-item>
          <mat-icon class="text-warning">edit</mat-icon>Edit
        </button>
        <button mat-menu-item (click)="openDeleteDialog(card.name)">
          <mat-icon class="text-danger">delete</mat-icon>Delete
        </button>
      </mat-menu>

      <div class="scorecard-header">
        <img src="assets/images/scorecard.png" />
      </div>
      <div class="scorecard-content">
        <h4>{{ card.name | truncate: [20, '...'] }}</h4>
        <p>{{ card.description | truncate: [30, '...'] }}</p>
      </div>
    </mat-card>
  </div>
  <div class="flex-container mat-elevation-z1" *ngIf="type === 'list'">
    <table @fadeSmooth class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Last modified</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="cursor"
          (click)="viewScorecard($event)"
          matTooltip="View a scorecard"
          *ngFor="let card of scorecards | filter: filter | paginate: config"
        >
          <td>
            <img
              style="height: 2.5em; width: 3em;"
              src="assets/images/scorecard.png"
            />
            &nbsp;{{ card.name }}
          </td>
          <td>{{ card.description }}</td>
          <td></td>
          <td>
            <mat-icon
              class="actions-icon-btn cursor"
              (click)="$event.stopPropagation()"
              matRipple
              matTooltip="Edit or Delete a scorecard"
              [matMenuTriggerFor]="actionsMenu"
              >more_vert</mat-icon
            >
            <mat-menu #actionsMenu="matMenu">
              <button mat-menu-item>
                <mat-icon class="text-warning">edit</mat-icon>Edit
              </button>
              <button mat-menu-item (click)="openDeleteDialog(card.name)">
                <mat-icon class="text-danger">delete</mat-icon>Delete
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->

  <!--Create a scorecard button-->
  <button mat-fab tourAnchor="home.create" color="primary" style="position: fixed; right: 2%; bottom: 4%;" (click)="createNew()"
    matTooltip="Create a new scorecard">
    <mat-icon>add</mat-icon>
  </button>
  <!--pagination control-->
  <!-- <div class="pagination-section" style="margin-top: 2%;">
    <mat-paginator
      [length]="config.totalItems"
      [pageSize]="config.itemsPerPage"
      [pageSizeOptions]="[config.itemsPerPage]"
      (page)="pageChanged($event)"
    >
    </mat-paginator>
  </div> -->
</div>
