<div class="container-fluid mat-elevation-z2">
  <div class="row">
    <div class="col-md-2 col-xs-12 mt-2 p-1">
      <a routerLink="/" class="d-flex align-items-center scorecard-brand">
        <img height="32" src="assets/images/score.png" />
        <div class="ml-2">Scorecard</div>
      </a>
    </div>
    <mat-form-field appearance="outline" class="col-md-6 col-xs-12 mt-1">
      <input
        matInput
        type="search"
        matTooltip="Type to search for a scorecard"
        class="search-field"
        [(ngModel)]="filter"
        (ngModelChange)="sendSearchText($event)"
        placeholder="Search score card by name"
      />
      <mat-icon inline="true" class="mr-2" style="font-size: 20px;" matPrefix
        >search</mat-icon
      >
    </mat-form-field>
    <div class="col-md-4 col-xs-12 operations-section mt-2">
      
      <button
        [matMenuTriggerFor]="settingsMenu"
        mat-stroked-button
        class="pull-right cursor"
      >
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settingsMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="langMenu">Language</button>
      </mat-menu>
      <mat-menu #langMenu="matMenu">
        <button mat-menu-item>
          <img
            style="height: 1.2em; width: 2em;"
            src="assets/icons/flags/uk.svg"
            alt="En"
          />
          En
        </button>
        <button mat-menu-item>
          <img
            style="height: 1.2em; width: 2em;"
            src="assets/icons/flags/fr.svg"
            alt="En"
          />
          Fr
        </button>
        <button mat-menu-item>
          <img
            style="height: 1.2em; width: 2em;"
            src="assets/icons/flags/pt.svg"
            alt="En"
          />
          Pt
        </button>
      </mat-menu>
      <app-info-menu class="pull-right"></app-info-menu>
    </div>
  </div>
</div>
