.row {
    margin-bottom: 1em; 
 }
 .info-item {
     position: relative;
     font-size: 0.7em;
     /* height: em; */
     /* margin-right: 1em; */
 }
 .info-item p {
    margin-top: auto;
    margin-bottom: auto;
 }
 .info-item .info-box {
    width: 4.5em; 
    min-height: 2em; 
    border: 0.8px solid lightgray;
 }
 .info-down-part {
   font-size: 1em; 
   color: gray;
 }
 .info-down-part .fa-trophy {
    font-size: 1.8em;
 }