

<div class="container-fluid" >
    <div class="row" >
      
       <app-selectors  class="col-md-6" style="width: 100%; padding-left: 0 !important;" [buttonsToShow]="selectorButtonsToShow"></app-selectors>
      <div class="col-md-6  operations-section" style="margin-top: 10px; ">
        <button
            mat-stroked-button
            class="pull-right cursor"
            style="height: 35px; "
            [matMenuTriggerFor]="downloadMenu"
            >
           <mat-icon>get_app</mat-icon> Download
        </button>

        <mat-menu #downloadMenu="matMenu">
            <button mat-menu-item>CSV</button>
            <button mat-menu-item>Excel</button>
            <button mat-menu-item>Export metadata</button>
            <button mat-menu-item>Export data</button>
        </mat-menu> 
          
       
        <app-options class="pull-right"></app-options>
      </div>
    </div>
    <div class="text-center" >
        <h3 style="font-size: 1.2em; font-weight: bold;">MINISTRY OF HEALTH - TRAINING LAND LEAGUE TABLE</h3>
    </div>
    <div class="row" style="margin-top: 2rem;">
        <div class="row col-sm-2 info-item">
            <div class="info-box" style="background-color: green;"></div>&nbsp;
            <p>Target achieved / on track</p>
        </div>
        <div class="row col-sm-3 info-item" >
            <div class="info-box" style="background-color: yellow; "></div>&nbsp;
            <p>Progress, but more effort required</p>
        </div>
        <div class="row col-sm-2 info-item">
            <div class="info-box" style="background-color: red;"></div>&nbsp;
            <p>Not on track</p>
        </div>
        <div class="row col-sm-2 info-item">
            <div class="info-box" style="background-color: lightgray; "></div>&nbsp;
            <p>N/A</p>
        </div>
        <div class="row col-sm-2 info-item">
            <div class="info-box" style="background-color: white; "></div>&nbsp;
            <p>No data</p>
        </div>
    </div>
    <div class="row info-down-part" >
      <span class="col-md-2"><i class="fa fa-caret-up"></i>&nbsp; Increase from last period</span>  
      <span class="col-md-2"><i class="fa fa-caret-down"></i>&nbsp; Decrease from last period</span>  
      <span class="col-md-1"><i class="fa fa-trophy" style="color: yellow;"></i>&nbsp; 1st place</span> 
      <span class="col-md-1"><i class="fa fa-trophy" style="color: lightgray; "></i>&nbsp; 2nd place</span> 
      <span class="col-md-1"><i class="fa fa-trophy" style="color: brown; "></i>&nbsp; 3rd place</span>  
    </div>
</div>