<div class="container-fluid pl-0 pr-0 pb-1">
  
  <div class="text-center">
    <h3 style="font-size: 1.2em; font-weight: bold;">
      MINISTRY OF HEALTH - TRAINING LAND LEAGUE TABLE
    </h3>
  </div>
  <div class="d-flex flex-row area-section my-1 w-75 justify-content-between" >
    <div class="d-flex flex-row info-item">
      <div class="info-box" style="background-color: green;"></div>
      &nbsp;
      Target achieved / on track
    </div>
    <div class="d-flex flex-row info-item">
      <div class="info-box" style="background-color: yellow; "></div>
      &nbsp;
      <p>Progress, but more effort required</p>
    </div>
    <div class="d-flex flex-row info-item">
      <div class="info-box" style="background-color: red;"></div>
      &nbsp;
      <p>Not on track</p>
    </div>
    <div class="d-flex flex-row  info-item">
      <div class="info-box" style="background-color: lightgray; "></div>
      &nbsp;
      <p>N/A</p>
    </div>
    <div class="d-flex flex-row info-item">
      <div class="info-box" style="background-color: white; "></div>
      &nbsp;
      <p>No data</p>
    </div>
  </div>
  <div class="d-flex flex-row w-75 area-section justify-content-between info-down-part">
    <span class="mr-1"
      ><i class="fa fa-caret-up"></i>&nbsp; Increase from last period</span
    >
    <span class="mr-1"
      ><i class="fa fa-caret-down"></i>&nbsp; Decrease from last period</span
    >
    <span class="mr-1"
      ><i class="fa fa-trophy" style="color: yellow;"></i>&nbsp; 1st place</span
    >
    <span class="mr-1"
      ><i class="fa fa-trophy" style="color: lightgray; "></i>&nbsp; 2nd
      place</span
    >
    <span class="mr-1"
      ><i class="fa fa-trophy" style="color: brown; "></i>&nbsp; 3rd place</span
    >
  </div>
</div>
