.color-picker {
    height: 35px;
    position: relative !important;
    width: 60px;
    border-radius: 2px;
    border: solid thin #eeeeee;
    outline: none;
    margin-top: 0.9em;
    /* margin-bottom: 10px;
    margin-right: 5px; */
  }
  