.card-item {
  cursor: pointer;
  position: relative;
  height: 250px;
  padding: 15px;
}
.card-item:hover {
  border: none;
  -webkit-transform: scale(1.05);
  transform: scale(1.01);
  transition: 0.7s;
}

.card-item-logo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.card-item-title {
  font-size: 1.2em;
}

.card-item-subtitle {
  font-size: 0.9em;
}
