<div class="home-header-container border-bottom">
  <div class="home-header-left-block">
    <div class="home-header-brand" tourAnchor="home.start.tour">
      <mat-form-field tourAnchor="home.search" appearance="outline" class="home-header-search">
        <input matInput type="search" matTooltip="Type to search for a scorecard" class="search-field"
          [(ngModel)]="filter" (ngModelChange)="sendSearchText($event)" placeholder="Search score card by name" />
        <mat-icon inline="true" class="mr-2" style="font-size: 20px;" matPrefix>search</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <div class="home-header-right-block">
    <app-view-selector tourAnchor="home.listview" (changeView)="onChangeView($event)"></app-view-selector>
    <mat-paginator [length]="scorecardLength" [pageSize]="paginationConfig?.itemsPerPage" [hidePageSize]="true"
      [pageSizeOptions]="paginationConfig?.itemsPerPageArr" (page)="onPageChange($event)">
    </mat-paginator>
    <app-info-menu (tourEvent)="manageTour($event)"></app-info-menu>
    <app-settings-menu></app-settings-menu>
  </div>
</div>
