.home-header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.home-header-left-block {
  width: 50%;
  padding-bottom: 10px;
}

.home-header-right-block {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}

.home-header-brand {
  display: flex;
  align-items: center;
  height: 50px;
}

.home-header-brand img {
  height: 30px;
}

.home-header-brand-title {
  color: #5f6368;
  margin-left: 7px;
  font-size: 18px;
  padding-top: 3px;
}

.home-header-search {
  width: 80%;
}

@media (max-width: 950px) {
  .home-header-container {
    display: block;
  }

  .home-header-left-block {
    width: 100%;
  }

  .home-header-right-block {
    width: 100%;
  }
}
