<button mat-icon-button class="actions-icon-btn ">
    <mat-icon class="muted" (click)="$event.stopPropagation()" matTooltip="Edit or Delete a scorecard"
        [matMenuTriggerFor]="actionsMenu">more_vert</mat-icon>
</button>
<mat-menu #actionsMenu="matMenu">
    <button mat-menu-item>
        <mat-icon class="muted">edit</mat-icon>Edit
    </button>
    <button mat-menu-item (click)="onOpenDeleteDialog(scorecard.name)">
        <mat-icon class="muted">delete</mat-icon>Delete
    </button>
</mat-menu>
