
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>
            <mat-form-field appearance="outline"  style="width: 100;">
              <mat-label>Search for orgunit here</mat-label>
              <input matInput type="text">
            </mat-form-field>
          </th>
          <th>Availability of Vaccines BCG</th>
          <th>Availability of Vaccines DPT </th>
          <th>DPT1 Coverage</th>
          <th>DPT2 Coverage</th>
          <th>DPT3 Coverage</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of sampleTableData">
           <td>{{data.orgunit}}</td>
           <td 
           [ngClass]="{'not-on-track': data.bcg < 40,'progress-required': data.bcg >40 && data.bcg < 70,'on-track': data.bcg >= 70}"
           >{{data.bcg}}</td>
           <td
           [ngClass]="{'not-on-track': data.dpt < 40,'progress-required': data.dpt >40 && data.dpt < 70,'on-track': data.dpt >= 70}"
           >{{data.dpt}}</td>
           <td
           [ngClass]="{'not-on-track': data.dpt1_coverage < 40,'progress-required': data.dpt1_coverage >40 && data.dpt1_coverage < 70,'on-track': data.dpt1_coverage >= 70}"
           >{{data.dpt1_coverage}}</td>
           <td
           [ngClass]="{'not-on-track': data.dpt2_coverage < 40,'progress-required': data.dpt2_coverage >40 && data.dpt2_coverage < 70,'on-track': data.dpt2_coverage >= 70}"
           >{{data.dpt2_coverage}}</td>
           <td
             [ngClass]="{'not-on-track': data.dpt3_coverage < 40,'progress-required': data.dpt3_coverage >40 && data.dpt3_coverage < 70,'on-track': data.dpt3_coverage >= 70}"
           >{{data.dpt3_coverage}}</td>
        </tr>
      </tbody>

    </table>
    <!-- <table style="width: 100%;" mat-table [dataSource]="sampleTableData" class="mat-elevation-z8">

    
      <ng-container matColumnDef="orgunit">
       
        <th mat-header-cell *matHeaderCellDef> 
          <mat-form-field  style="width: 100;">
            <mat-label>Search for orgunit here</mat-label>
            <input matInput type="text">
          </mat-form-field><br>
          </th>
        <td mat-cell *matCellDef="let element"> {{element.orgunit}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="bcg">
        <th mat-header-cell *matHeaderCellDef> Availability of Vaccines BCG </th>
        <td  mat-cell
             *matCellDef="let element"
             [ngClass]="{'not-on-track': element.bcg < 40,'progress-required': element.bcg >40 && element.bcg < 70,'on-track': element.bcg >= 70}"
             > 
             {{element.bcg}}  
             <i class="fa fa-caret-up" *ngIf="element.bcg > 70"></i> 
             </td>
           
      </ng-container>
    
    
      <ng-container matColumnDef="dpt">
        <th mat-header-cell *matHeaderCellDef> Availability of Vaccines DPT </th>
        <td mat-cell 
        [ngClass]="{'not-on-track': element.dpt < 40,'progress-required': element.dpt >40 && element.dpt < 70,'on-track': element.dpt >= 70}"
            *matCellDef="let element"> {{element.dpt}} 
            <i class="fa fa-caret-up" *ngIf="element.dpt > 70"></i> 
            </td>
      </ng-container>
    
      <ng-container matColumnDef="dpt1_coverage">
        <th mat-header-cell *matHeaderCellDef> DPT1 Coverage </th>
        <td 
        mat-cell *matCellDef="let element"
        [ngClass]="{'not-on-track': element.dpt1_coverage < 40,'progress-required': element.dpt1_coverage >40 && element.dpt1_coverage < 70,'on-track': element.dpt1_coverage >= 70}"
        > {{element.dpt1_coverage}} 
        <i class="fa fa-caret-up" *ngIf="element.dpt1_coverage > 70"></i> 
        </td>
      </ng-container>
  
      <ng-container matColumnDef="dpt2_coverage">
        <th mat-header-cell *matHeaderCellDef> DPT2 Coverage </th>
        <td mat-cell *matCellDef="let element"
        [ngClass]="{'not-on-track': element.dpt2_coverage < 40,'progress-required': element.dpt2_coverage >40 && element.dpt2_coverage < 70,'on-track': element.dpt2_coverage >= 70}"
        > {{element.dpt2_coverage}} </td>
      </ng-container>
  
      <ng-container matColumnDef="dpt3_coverage">
        <th mat-header-cell *matHeaderCellDef> DPT3 Coverage </th>
        <td mat-cell *matCellDef="let element"
        [ngClass]="{'not-on-track': element.dpt3_coverage < 40,'progress-required': element.dpt3_coverage >40 && element.dpt3_coverage < 70,'on-track': element.dpt3_coverage >= 70}"
        > {{element.dpt3_coverage}} </td>
      </ng-container>
     
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->
    
  </div>
</div>
