<button
  [matMenuTriggerFor]="optionsMenu"
  mat-stroked-button
  class="cursor"
  style="height: 35px;margin-left: 5px"
>
  <i class="fa fa-cog"></i>&nbsp; Options
</button>
<mat-menu #optionsMenu="matMenu">
  <div
    (click)="$event.stopPropagation()"
    style="width: 500px; overflow-x: hidden !important;"
  >
    <div class="row" style="overflow-x: hidden !important;">
      <div
        class="col-md-6"
        style="overflow-x: hidden !important; margin-left: 0.5em;"
      >
        <small><strong>Display Settings</strong></small>
        <mat-list>
          <mat-list-item *ngFor="let setting of displaySettings">
            <mat-checkbox (click)="$event.stopPropagation()">{{
              setting.name
            }}</mat-checkbox></mat-list-item
          >
        </mat-list>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col-md-5" style="overflow-x: hidden !important;">
        <small><strong>Best/Worst</strong></small>
        <mat-list>
          <mat-list-item *ngFor="let setting of bestWorstSettings">
            <mat-checkbox (click)="$event.stopPropagation()">{{
              setting.name
            }}</mat-checkbox></mat-list-item
          >
        </mat-list>
      </div>
    </div>
  </div>
</mat-menu>
