<button
  [matMenuTriggerFor]="optionsMenu"
  mat-stroked-button
  class="cursor"
  style="height: 35px;margin-left: 5px"
>
  <mat-icon>settings</mat-icon> Options
</button>
<mat-menu #optionsMenu="matMenu">
  <div
    (click)="$event.stopPropagation()"
    style="width: 400px !important; overflow-x: hidden !important;"
  >
    <div class="row" style="overflow-x: hidden !important;">
      <div
        class="col-md-6"
        style="overflow-x: hidden !important; margin-left: 0.5em;"
      >
        <strong>Display Settings</strong>
        <mat-list>
          <mat-list-item *ngFor="let setting of displaySettings">
            <mat-checkbox class="option-item" color="primary" (click)="$event.stopPropagation()">{{
              setting.name
            }}</mat-checkbox></mat-list-item
          >
        </mat-list>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col-md-5" style="overflow-x: hidden !important;">
        <strong>Best/Worst</strong>
        <mat-list>
          <mat-list-item *ngFor="let setting of bestWorstSettings">
            <mat-checkbox class="option-item" color="primary" (click)="$event.stopPropagation()">{{
              setting.name
            }}</mat-checkbox></mat-list-item
          >
        </mat-list>
      </div>
    </div>
  </div>
</mat-menu>
