<mat-card *ngIf="scorecard" class="thumbnail-item" (click)="onViewScorecard($event)">
    <app-actions-menu class="actions-icon-btn" [scorecard]="scorecard"></app-actions-menu>
    <div class="flex-row thumbnail-item-logo">
        <img src="assets/images/scorecard.png" />
    </div>
    <div class="thumbnail-item-content">
        <div class="thumbnail-tem-title">{{ scorecard.name | truncate: [20, '...'] }}</div>
        <div class="thumbnail-item-subtitle muted">{{ scorecard.description | truncate: [30, '...'] }}</div>
    </div>
</mat-card>
