<mat-card class="thumbnail-view cursor d-flex flex-row mb-3 mr-3 p-1" (click)="viewScorecard()">
    <mat-icon
      class="actions-icon-btn cursor"
      (click)="$event.stopPropagation()"
      matRipplerelative
      matTooltip="Edit or Delete a scorecard"
      [matMenuTriggerFor]="actionsMenu"
      >more_vert</mat-icon
    >
    <mat-menu #actionsMenu="matMenu">
      <button mat-menu-item>
        <mat-icon class="text-warning">edit</mat-icon>Edit
      </button>
      <button mat-menu-item (click)="openDeleteDialog(thumbnail.name)">
        <mat-icon class="text-danger">delete</mat-icon>Delete
      </button>
    </mat-menu>
    <div class="d-flex flex-row justify-content-center w-50">
      <img class="w-100 h-100" src="assets/images/scorecard.png" />
    </div>
  
    <mat-card-content>
      <h4>{{ thumbnail.name | truncate: [20, '...'] }}</h4>
      <p>{{ thumbnail.description | truncate: [30, '...'] }}</p>
    </mat-card-content>
  </mat-card>
  