.thumbnail-view {
    position: relative;
    width: 435px;
    height: 110px;
  }
  .thumbnail-view:hover,
  .thumbnail-view:focus,
  .thumbnail-view:active {
    border: none;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: 0.7s;
  } 
.actions-icon-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: bold;
  }
  h4 {
    font-size: 1.2em;
  }
  p {
    font-size: 0.9em;
    color: gray;
  }