.flex-container {
    display: flex;
    flex-flow: row wrap;
    padding-left: 2%;
  }
  .flex {
    width: 40%;
    height: 75px;
    margin:3%;
  }
  .thumbImage{
    padding-left: 30%;
  }
  .cardStyle{
    text-align:center;
  }
  