.flex-container {
    display: flex;
    flex-flow: row wrap;
  }
  .flex {
    width: 45%;
    padding: 2%;
    margin-left:3%;
  }
  .thumbImage{
    padding-left: 30%;
  }
  .cardStyle{
    text-align:center;
    padding: 3%;
  }
  .listanimate{
    padding: 2%;
  } 