<div class="container-fluid" style="padding-left: 50px;">
    <div class="row" >
        <button style="margin-right: auto; margin-left: auto;"  mat-raised-button><i class="fa fa-pencil"></i>&nbsp;customize header</button>
    </div>
    <div class="row">
        <div class="row col-sm-2 info-item">
            <mat-card style="background-color: green;  width: 4.5em;"></mat-card>&nbsp;
            <p>Target achieved / on track</p>
        </div>
        <div class="row col-sm-3 info-item" >
            <mat-card style="background-color: yellow; width: 4.5em;"></mat-card>&nbsp;
            <p>Progress, but more effort required</p>
        </div>
        <div class="row col-sm-2 info-item">
            <mat-card style="background-color: red; width: 4.5em;"></mat-card>&nbsp;
            <p>Not on track</p>
        </div>
        <div class="row col-sm-2 info-item">
            <mat-card style="background-color: lightgray; width: 4.5em;"></mat-card>&nbsp;
            <p>N/A</p>
        </div>
        <div class="row col-sm-2 info-item">
            <mat-card style="background-color: white;  width: 4.5em;"></mat-card>&nbsp;
            <p>No data</p>
        </div>
    </div>
    <div class="row">
        <button style="margin-right: auto; margin-left: auto;"  mat-raised-button><i class="fa fa-pencil"></i>&nbsp;Highlighted Indicators</button>
    </div>
</div>