<div class="container-fluid" >
    <div class="row" >
        <button style="margin-right: auto; margin-left: auto;"  mat-stroked-button><i class="fa fa-pencil"></i>&nbsp;customize header</button>
    </div>
    <div class="row">
        <div class="row col-sm-2 info-item">
            <div class="info-box" style="background-color: green;"></div>&nbsp;
            <p>Target achieved / on track</p>
        </div>
        <div class="row col-sm-3 info-item" >
            <div class="info-box" style="background-color: yellow; "></div>&nbsp;
            <p>Progress, but more effort required</p>
        </div>
        <div class="row col-sm-2 info-item">
            <div class="info-box" style="background-color: red;"></div>&nbsp;
            <p>Not on track</p>
        </div>
        <div class="row col-sm-2 info-item">
            <div class="info-box" style="background-color: lightgray; "></div>&nbsp;
            <p>N/A</p>
        </div>
        <div class="row col-sm-2 info-item">
            <div class="info-box" style="background-color: white; "></div>&nbsp;
            <p>No data</p>
        </div>
    </div>
    <div class="row">
        <button style="margin-right: auto; margin-left: auto;"  mat-stroked-button><i class="fa fa-pencil"></i>&nbsp;Highlighted Indicators</button>
    </div>
</div>
