.row {
    margin-bottom: 1em; 
 }
 .info-item {
     position: relative;
     font-size: 0.7em;
     /* height: em; */
     /* margin-right: 1em; */
 }
 .info-item p {
    margin-top: auto;
    margin-bottom: auto;
 }
 .info-item .info-box {
    width: 5em; 
    min-height: 1em; 
    border: 0.8px solid lightgray;
 }