<app-create-header></app-create-header>
<div class="mat-elevation-z2" >
     <app-sample-scorecard></app-sample-scorecard>
</div> 
<div class="mat-elevation-z2" >   
     <!-- <small>Write the title, Description and start</small> -->
     <app-selectors [buttonsToShow]="selectorButtonsToShow"></app-selectors>
     <div class="row" style="margin-top: 2rem;">
         <app-basic-details class="col-md-3"></app-basic-details>
         <app-data-selection class="col-md-5"></app-data-selection>
     </div>
    
</div>
