/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.pagination-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button:focus, button:active:focus, button.active:focus {
    outline: none !important;
    outline-style: none !important;
    }
    .operations-section button, 
    .operations-section app-options,
    .operations-section app-info-menu
      {
      margin-left: 0.5em;
    }  
    
.cursor {
  cursor: pointer;
}