/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #f4f6f8;
}

.pagination-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
button:focus,
button:active:focus,
button.active:focus {
  outline: none !important;
  outline-style: none !important;
}

.operations-section button,
.operations-section app-options,
.operations-section app-info-menu {
  margin-left: 0.5em;
}

.cursor {
  cursor: pointer;
}
.sub-heading {
  color: gray;
  font-weight: bold;
  font-size: 0.9em;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  margin-top: -9px;
  padding: 10px 0 10px 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.7em;
  margin-top: 0;
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.scorecard-brand {
  cursor: pointer;
  text-decoration: none !important;
  font-size: 20px;
  color: #222222;
}

.muted {
  color: gray;
}

.mat-paginator {
  background: transparent;
}

.actions-icon-btn {
  position: absolute;
  top: 1%;
  right: 1%;
}

.app-header-container {
  display: flex;
  position: fixed;
  top: 48px;
  z-index: 1000;
  background-color: #ffffff;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
}

.app-header-right-block {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.app-content {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  /* margin-top: 130px; */
}
.header-content-margin {
  margin-top: 130px;
}