<div class="heading">
   Write the title, description and start by picking indicators for your scorecard 
</div>
<div  style="margin-top: 1em;">
    <form >
        <mat-form-field style="width: 100%;" >
            <mat-label>Title</mat-label>
            <input matInput required>
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <mat-label>Scorecard description</mat-label>
            <textarea matInput required ></textarea>
        </mat-form-field>

    </form>
</div>
<div class="row" style="margin-top: 1em;">
  <div class="col-md-3">
    <span class="heading">
        Legend Definition
     </span>
  </div>
</div>
