<button [matMenuTriggerFor]="settingsMenu" class="muted" mat-icon-button>
    <mat-icon>settings</mat-icon>
</button>
<mat-menu #settingsMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="langMenu">Language</button>
</mat-menu>
<mat-menu #langMenu="matMenu">
    <button mat-menu-item>
        <img style="height: 1.2em; width: 2em;" src="assets/icons/flags/uk.svg" alt="En" />
        En
    </button>
    <button mat-menu-item>
        <img style="height: 1.2em; width: 2em;" src="assets/icons/flags/fr.svg" alt="En" />
        Fr
    </button>
    <button mat-menu-item>
        <img style="height: 1.2em; width: 2em;" src="assets/icons/flags/pt.svg" alt="En" />
        Pt
    </button>
</mat-menu>
